html{
    font-size: 16px;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}


/* == Header Bereich == */

.header_Leiste{
    width: 100%;
    background-color: rgb(7, 103, 52);
    padding-left: 10%;
    display: inline-block;
    border-bottom: 3px solid black;
}

.header_Leiste > div {
    text-align: center;
    margin-right: 10%;
}

   /*Navigation*/

.nav_Leiste{
    width: 100%;
    height: 50px;
}

.nav_Leiste > ul {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 2rem;
    height: 100%;
}

.nav_Leiste > ul > li{
    display: inline-block;
    height: 100%;
    padding: 0 .2rem 0 .4rem;
}

.nav_Leiste > ul > li > a {
    margin-top: .75rem;
    display: inline-block;
    border: 2px solid black;
    min-width:100px;
    text-align: center;
}

.nav_Leiste > ul > li > a:link{
    color: black;
    background-color: darkgrey;
    text-decoration: none;
}

.nav_Leiste > ul > li > a:hover{
    color: black;
    background-color: rgb(142, 142, 142);
    text-decoration: none;
}

.nav_Leiste > ul > li > a:active{
    color: black;
    background-color: rgb(105, 105, 105);
    text-decoration: none;
}

.nav_Leiste > ul > li > a:visited{
    color: black;
    text-decoration: none;
}


/* == Login Bar == */
.login_box {
    display: inline-block;
    height: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-top: 10%;
}

.login_box > form > input {
    height:50px;
    width:300px;
    font-size: 2em;
}

.login_box > form > button {
    height:50px;
    width:200px;
    font-size: 2em;
}

#create_accound_form {
    visibility: hidden;
}

#visibility_button {
    height: 34px;
    position: absolute;
}

#create_accound_form.active {
    visibility: visible;
}

#visibility_button.active {
    visibility: hidden;
}


/* == Menue Bar == */

.manue {
    width: 100%;
    display: inline-block;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.manue > ul > li{
    display: inline-block;
    height: 100%;
}

.manue > ul > li > a {
    margin-top: .5rem;
    display: inline-block;
    border: 2px solid black;
    text-align: center;
    height:50px;
    min-width:400px;
    font-size: 2em;
}

.manue > ul > li > a:link{
    color: black;
    background-color: darkgrey;
    text-decoration: none;
}

.manue > ul > li > a:hover{
    color: black;
    background-color: rgb(142, 142, 142);
    text-decoration: none;
}

.manue > ul > li > a:active{
    color: black;
    background-color: rgb(105, 105, 105);
    text-decoration: none;
}

.manue > ul > li > a:visited{
    color: black;
    text-decoration: none;
}



/* == Content Bereich == */
.continer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
}

.row::after{
    content: "";
    clear: both;
    display: block;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    padding: .8rem;
}

.col-2{width: 33.333%;}

.col-4{width: 66.666%;}

@media (max-width: 768px){
    .col-2{width: 100%;}
    .col-4{width: 100%;}
}



