<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"></link> <!-- from flask import url_for -->
    <title>Start</title>
</head>

<body>

    <!-- Header Bereich -->
        <header class="header_Leiste">

            <!-- Head Text -->
            <div>
                <h1>Care for Plants</h1>
                <h2>Standort ändern</h2>
            </div>

            <!-- Navigation -->
            <nav class="nav_Leiste">
                <ul>
                    <li><a href="/">Menü</a></li>
                </ul>
            </nav>
        </header>

        <!-- !!! Fehlermendung Ausgeben !!! -->
        {% if error %}
            <h2 class="print_error">{{ error }}</h2>
        {% endif %}
        <!-- Content Bereich -->
        <div class="continer">
            <div class="row">
                <form action="" method="POST">
                    <!-- Standort Ändern -->
                    <div class="col-6">
                        <table>
                            <thead>
                                <th>Name</th>
                                <th>Lichtverhältnisse</th>
                                <th>Temperatur</th>
                                <th>Luftfeuchtigkeit</th>
                                <th>Beschreibung</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <th><input name="name" placeholder="Name" value="{{ location.name }}"></th>
                                    <th><select name="lighting_condition" placeholder="Lichtverhältnisse" value="{{ location.lighting_condition }}">
                                        <option value=""></option>
                                        <option value="schatten" {% if location.lighting_condition == "schatten" %} selected {% endif %}>Schatten</option>
                                        <option value="halbschatten" {% if location.lighting_condition == "halbschatten" %} selected {% endif %}>Halbschatten</option>
                                        <option value="sonnig" {% if location.lighting_condition == "sonnig" %} selected {% endif %}>Sonnig</option>
                                    </select></th>
                                    <th><select name="temperature" placeholder="Temperatur" value="{{ location.temperature }}">
                                        <option value=""></option>
                                        <option value="kalt" {% if location.temperature == "kalt" %} selected {% endif %}>Kalt</option>
                                        <option value="normal" {% if location.temperature == "normal" %} selected {% endif %}>Normal</option>
                                        <option value="warm" {% if location.temperature == "warm" %} selected {% endif %}>Warm</option>
                                    </select></th>
                                    <th><select name="humidity" placeholder="Luftfeuchtigkeit" value="{{ location.humidity }}">
                                        <option value=""></option>
                                        <option value="trocken" {% if location.humidity == "trocken" %} selected {% endif %}>Trocken</option>
                                        <option value="normal" {% if location.humidity == "normal" %} selected {% endif %}>Normal</option>
                                        <option value="feucht" {% if location.humidity == "feucht" %} selected {% endif %}>Feucht</option>
                                    </select></th>
                                    <th><input name="description" placeholder="Beschreibung" value="{{ location.description }}"></th>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="col-6">
                        <a href="/locations/{{ location.id }}/update"><button>Speichern</button></a>
                    </div>
                </form>
                <a href="/"><button>Abbrechen</button></a>
            </div>
        </div>

</body>


</html>
