<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"></link> <!-- from flask import url_for -->
    <title>Start</title>
</head>

<body>

    <!-- Header Bereich -->
        <header class="header_Leiste">

            <!-- Head Text -->
            <div>
                <h1>Care for Plants</h1>
                <h2>Standort ändern</h2>
            </div>

            <!-- Navigation -->
            <nav class="nav_Leiste">
                <ul>
                    <li><a href="/">Menü</a></li>
                </ul>
            </nav>
        </header>

        <!-- !!! Fehlermendung Ausgeben !!! -->
        <h2>{{ f }}</h2>

        <!-- Content Bereich -->
        <div class="continer">
            <div class="row">
                <form action="" method="POST">
                    <!-- Standort Ändern -->
                    <div class="col-6">
                        <table>
                            <thead>
                                <th>Name</th>
                                <th>Lichtverhältnisse</th>
                                <th>Temperatur</th>
                                <th>Luftfeuchtigkeit</th>
                                <th>Beschreibung</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <th><input name="name" placeholder="Name" value="{{ loc.name }}"></th>
                                    <th><select name="lighting_condition" placeholder="Lichtverhältnisse" value="{{ loc.lighting_condition }}">
                                        <option value=""></option>
                                        <option value="schatten">Schatten</option>
                                        <option value="halbschatten">Halbschatten</option>
                                        <option value="sonnig">Sonnig</option>
                                    </select></th>
                                    <th><select name="temperature" placeholder="Temperatur" value="{{ loc.temperature }}">
                                        <option value=""></option>
                                        <option value="kalt">Kalt</option>
                                        <option value="normal">Normal</option>
                                        <option value="warm">Warm</option>
                                    </select></th>
                                    <th><select name="humidity" placeholder="Luftfeuchtigkeit" value="{{ loc.humidity }}">
                                        <option value=""></option>
                                        <option value="trocken">Trocken</option>
                                        <option value="normal">Normal</option>
                                        <option value="feucht">Feucht</option>
                                    </select></th>
                                    <th><input name="description" placeholder="Beschreibung" value="{{ loc.description }}"></th>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="col-6">
                        <button type="submit" name="action" value="save">Speichern</button>
                    </div>
                </form>
                <a href="/"><button>Abbrechen</button></a>
            </div>
        </div>

</body>


</html>
