<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"></link> <!-- from flask import url_for -->
    <title>Start</title>
</head>

<body>

    <!-- Header Bereich -->
        <header class="header_Leiste">

            <!-- Head Text -->
            <div>
                <h1>Care for Plants</h1>
                <h2>Pflanze ändern</h2>
            </div>

            <!-- Navigation -->
            <nav class="nav_Leiste">
            </nav>
        </header>


        <!-- !!! Fehlermendung Ausgeben !!! -->
        <h2>{{ f }}</h2>


        <!-- Content Bereich -->
        <div class="continer">
            <div class="row">
                <form action="" method="POST">
                <!-- Tabelle mit Pflanzen -->
                <div class="col-6">
                    <table>
                        <thead>
                            <th>Name</th>
                            <th>Botanischer Name</th>
                            <th>Benötigtes Licht</th>
                            <th>Benötigtes Wasser</th>
                            <th>Benötigte Temperatur</th>
                            <th>Benötigte Feuchtigkeit</th>
                            <th>Bodenart</th>
                            <th>Minimale Höhe</th>
                            <th>Maximale Höhe</th>
                            <th>Giftig</th>
                            <th>Blüte Anfang</th>
                            <th>Büte Ende</th>
                            <th>Pflanzenfarbe</th>
                            <th>Notizen</th>
                        </thead>
                        <tbody>
                            <tr>
                                <th><input name="name" placeholder="Name" value="{{ p.name }}"></th>
                                <th><input name="botanical_name" placeholder="Botanischer Name" value="{{ p.botanical_name }}"></th>
                                <th><input name="light_requirement" placeholder="Benötigtes Licht" value="{{ p.light_requirement }}"></th>
                                <th><input name="water_requirement" placeholder="Benötigtes Wasser" value="{{ p.water_requirement }}"></th>
                                <th><input name="temperature_requirement" placeholder="Benötigte Temperatur" value="{{ p.temperature_requirement }}"></th>
                                <th><input name="humidity_requirement" placeholder="Benötigte Feuchtigkeit" value="{{ p.humidity_requirement }}"></th>
                                <th><input name="soil_type" placeholder="Bodenart" value="{{ p.soil_type }}"></th>
                                <th><input name="height_min" placeholder="Minimale Höhe" value="{{ p.height_min }}"></th>
                                <th><input name="height_max" placeholder="Maximale Höhe" value="{{ p.height_max }}"></th>
                                <th><input name="poisonous" placeholder="Giftig" value="{{ p.poisonous }}"></th>
                                <th><input name="flowering_season_start" placeholder="Blüte Anfang" value="{{ p.flowering_season_start }}"></th>
                                <th><input name="flowering_season_end" placeholder="Büte Ende" value="{{ p.flowering_season_end }}"></th>
                                <th><input name="flower_color" placeholder="Pflanzenfarbe" value="{{ p.flower_color }}"></th>
                                <th><input name="notes" placeholder="Notizen" value="{{ p.notes }}"></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-6">
                        <button type="submit" name="action" value="save">Speichern</button>
                    </div>
                </form>
                <a href="/"><button>Abbrechen</button></a>
            </div>
        </div>

</body>


</html>