<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"></link> <!-- from flask import url_for -->
    <title>Start</title>
</head>

<body>

    <!-- Header Bereich -->
        <header class="header_Leiste">

            <!-- Content -->
            <div>
                <h1>Care for Plants</h1>
            </div>

            <!-- Navigation -->
            <nav class="nav_Leiste">

                <ul>
                    <li><a href="/">Menü</a></li>
                </ul>
                
            </nav>

        </header>


        <!-- Content Bereich -->
        <div class="continer">
            <div class="row">
                <!-- Standort Buttons -->
                <div class="col-2">
                    <button type="submit" name="action" value="Alle Pflanzen">Alle Pflanzen</button>

                </div>
                <!-- Tabelle mit Pflanzen -->
                <div class="col-4">
                    {% if plants|length < 1 %}
                        <h4 style="text-align: center">Es gibt noch keine Pflanzen</h4>
                    {% else %}
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Botanischer Name</th>
                            <th>Benötigtes Licht</th>
                            <th>Benötigtes Wasser</th>
                            <th>Benötigte Temperatur</th>
                            <th>Benötigte Feuchtigkeit</th>
                            <th>Bodenart</th>
                            <th>Minimale Höhe</th>
                            <th>Maximale Höhe</th>
                            <th>Giftig?</th>
                            <th>Blüte Anfang</th>
                            <th>Büte Ende</th>
                            <th>Pflanzenfarbe</th>
                            <th>Notizen</th>
                            <th>Pflanze Anpassen</th>
                        </tr>
                        {% for p in plants %}
                        <tr>
                            <td>{{ p.name }}</td>
                            <td>{{ p.botanical_name }}</td>
                            <td>{{ p.light_requirement }}</td>
                            <td>{{ p.water_requirement }}</td>
                            <td>{{ p.temperature_requirement }}</td>
                            <td>{{ p.humidity_requirement }}</td>
                            <td>{{ p.soil_type }}</td>
                            <td>{{ p.height_min }}</td>
                            <td>{{ p.height_max }}</td>
                            <td>{{ p.poisonous }}</td>
                            <td>{{ p.flowering_season_start }}</td>
                            <td>{{ p.flowering_season_end }}</td>
                            <td>{{ p.flower_color }}</td>
                            <td>{{ p.notes }}</td>
                            <td>
                                <!-- <a href="/auf_wunschliste/{{pflanze.id}}">Zur Wunschliste hinzufügen</a>-->
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}

                </div>
            </div>
        </div>

</body>


</html>