<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"></link> <!-- from flask import url_for -->
    <title>Start</title>
</head>

<body>

    <!-- Header Bereich -->
        <header class="header_Leiste">

            <!-- Content -->
            <div>
                <h1>Care for Plants</h1>
            </div>

            <!-- Navigation -->
            <nav class="nav_Leiste">

                <ul>
                    <li><a href="/logout">Abmelden</a></li>
                </ul>
                
            </nav>

        </header>

</body>


</html>

