<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"></link> <!-- from flask import url_for -->
    <title>Start</title>
</head>

<body>

    <!-- Header Bereich -->
        <header class="header_Leiste">

            <!-- Content -->
            <div>
                <h1>Care for Plants</h1>
                <h2>Neue Pflanze erstellen</h2>
            </div>

            <!-- Navigation -->
            <nav class="nav_Leiste">

                <ul>
                    <li><a href="/">Menü</a></li>
                </ul>
                
            </nav>
        </header>

        <!-- Content Bereich -->
        <div class="continer">
            <div class="row">
                <!-- Tabelle mit Pflanzen -->
                <div class="col-6">
                    <table>
                        <thead>
                            <th>Name</th>
                            <th>Botanischer Name</th>
                            <th>Benötigtes Licht</th>
                            <th>Benötigtes Wasser</th>
                            <th>Benötigte Temperatur</th>
                            <th>Benötigte Feuchtigkeit</th>
                            <th>Bodenart</th>
                            <th>Minimale Höhe</th>
                            <th>Maximale Höhe</th>
                            <th>Giftig?</th>
                            <th>Blüte Anfang</th>
                            <th>Büte Ende</th>
                            <th>Pflanzenfarbe</th>
                            <th>Notizen</th>
                            <th>Pflanze Anpassen</th>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Name</th>
                                <th>Botanischer Name</th>
                                <th>Benötigtes Licht</th>
                                <th>Benötigtes Wasser</th>
                                <th>Benötigte Temperatur</th>
                                <th>Benötigte Feuchtigkeit</th>
                                <th>Bodenart</th>
                                <th>Minimale Höhe</th>
                                <th>Maximale Höhe</th>
                                <th>Giftig?</th>
                                <th>Blüte Anfang</th>
                                <th>Büte Ende</th>
                                <th>Pflanzenfarbe</th>
                                <th>Notizen</th>
                                <th>Pflanze Anpassen</th>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

</body>


</html>