<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"></link> <!-- from flask import url_for -->
    <title>Start</title>
</head>

<body>

    <!-- Header Bereich -->
        <header class="header_Leiste">

            <!-- Head Text -->
            <div>
                <h1>Care for Plants</h1>
                <h2>Neue Pflanze erstellen</h2>
            </div>

            <!-- Navigation -->
            <nav class="nav_Leiste">

                <ul>
                    <li><a href="/">Menü</a></li>
                </ul>
                
            </nav>
        </header>

        <!-- !!! Fehlermendung Ausgeben !!! -->
        <h2>{{ f }}</h2>

        <!-- Content Bereich -->
        <div class="continer">
            <div class="row">
                <form action="" method="POST">
                <!-- Tabelle mit Pflanzen -->
                    <div class="col-6">
                        <table>
                            <thead>
                                <th>Name</th>
                                <th>Standort</th>
                                <th>Botanischer Name</th>
                                <th>Benötigtes Licht</th>
                                <th>Benötigtes Wasser</th>
                                <th>Benötigte Temperatur</th>
                                <th>Benötigte Feuchtigkeit</th>
                                <th>Bodenart</th>
                                <th>Minimale Höhe</th>
                                <th>Maximale Höhe</th>
                                <th>Giftig</th>
                                <th>Blüte Anfang</th>
                                <th>Büte Ende</th>
                                <th>Pflanzenfarbe</th>
                                <th>Notizen</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <th><input name="name" placeholder="Name"></th>
                                    <th><select name="location" placeholder="Standort">
                                        <option value=""></option>
                                        {% for location in locations %}
                                            <option value="{{ location.name }}">{{ location.name }}</option>
                                        {% endfor %}
                                    </select></th>
                                    <th><input name="botanical_name" placeholder="Botanischer Name"></th>
                                    <th><select name="light_requirement" placeholder="Benötigtes Licht">
                                        <option value=""></option>
                                        <option value="schatten">Schatten</option>
                                        <option value="halbschatten">Halbschatten</option>
                                        <option value="sonnig">Sonnig</option>
                                    </select></th>
                                    <th><select name="water_requirement" placeholder="Benötigtes Wasser">
                                        <option value=""></option>
                                        <option value="wenig">Wenig</option>
                                        <option value="mittel">Mittel</option>
                                        <option value="viel">Viel</option>
                                    </select></th>
                                    <th><select name="temperature_requirement" placeholder="Benötigte Temperatur">
                                        <option value=""></option>
                                        <option value="kalt">Kalt</option>
                                        <option value="normal">Normal</option>
                                        <option value="warm">Warm</option>
                                    </select></th>
                                    <th><select name="humidity_requirement" placeholder="Benötigte Feuchtigkeit">
                                        <option value=""></option>
                                        <option value="trocken">Trocken</option>
                                        <option value="normal">Normal</option>
                                        <option value="feucht">Feucht</option>
                                    </select></th>
                                    <th><input name="soil_type" placeholder="Bodenart"></th>
                                    <th><input type="number" min="0" step="1" name="height_min" placeholder="Minimale Höhe"></th>
                                    <th><input type="number" min="0" step="1" name="height_max" placeholder="Maximale Höhe"></th>
                                    <th><input type="checkbox" name="poisonous" placeholder="Giftig"></th>
                                    <th><input type="number" min="0" max="12" step="1" name="flowering_season_start" placeholder="Blüte Anfang"></th>
                                    <th><input type="number" min="0" max="12" step="1" name="flowering_season_end" placeholder="Büte Ende"></th>
                                    <th><input name="flower_color" placeholder="Pflanzenfarbe"></th>
                                    <th><input name="notes" placeholder="Notizen"></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-6">
                        <button type="submit" name="action" value="save_whishlist">Auf Wunschliste speichern</button>
                        <button type="submit" name="action" value="save_inventory">Auf Bestand speichern</button>
                    </div>
                </form>
                <a href="/"><button>Abbrechen</button></a>
            </div>
        </div>

</body>


</html>