<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"></link> <!-- from flask import url_for -->
    <title>Start</title>
</head>

<body>

    <!-- Header Bereich -->
        <header class="header_Leiste">

            <!-- Head Text -->
            <div>
                <h1>Care for Plants</h1>
                <h2>Standorte</h2>
            </div>

            <!-- Navigation -->
            <nav class="nav_Leiste">

                <ul>
                    <li><a href="/">Menü</a></li>
                </ul>
                
            </nav>

        </header>

        <!-- !!! Fehlermendung Ausgeben !!! -->
        <h2>{{ error }}</h2>


        

        <!-- Content Bereich -->
        <div class="continer">
            <div class="row">
                <!-- Neuer Standort -->
                <form action="" method="POST">
                    <div class="col-6">
                        <table>
                            <thead>
                                <th>Name</th>
                                <th>Lichtverhältnisse</th>
                                <th>Temperatur</th>
                                <th>Luftfeuchtigkeit</th>
                                <th>Beschreibung</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <th><input name="name" placeholder="Name"></th>
                                    <th><select name="lighting_condition" placeholder="Lichtverhältnisse">
                                        <option value=""></option>
                                        <option value="schatten">Schatten</option>
                                        <option value="halbschatten">Halbschatten</option>
                                        <option value="sonnig">Sonnig</option>
                                    </select></th>
                                    <th><select name="temperature" placeholder="Temperatur">
                                        <option value=""></option>
                                        <option value="kalt">Kalt</option>
                                        <option value="normal">Normal</option>
                                        <option value="warm">Warm</option>
                                    </select></th>
                                    <th><select name="humidity" placeholder="Luftfeuchtigkeit">
                                        <option value=""></option>
                                        <option value="trocken">Trocken</option>
                                        <option value="normal">Normal</option>
                                        <option value="feucht">Feucht</option>
                                    </select></th>
                                    <th><input name="description" placeholder="Beschreibung"></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-6">
                        <button type="submit" name="action" value="save">Speichern</button>
                    </div>
                </form>
                <a href="/"><button>Abbrechen</button></a>
                <!-- Tabelle mit Standorten -->
                <div class="col-6">
                    {% if locations|length < 1 %}
                        <h4 style="text-align: center">Es gibt noch keine Standorte</h4>
                    {% else %}
                    <table>
                        <thead>
                            <th>Name</th>
                            <th>Lichtverhältnisse</th>
                            <th>Temperatur</th>
                            <th>Luftfeuchtigkeit</th>
                            <th>Beschreibung</th>
                            <th>Änderungen</th>
                        </thead>
                        <tbody>
                        {% for loc in locations %}
                        <tr>
                            <td>{{ loc.name }}</td>
                            <td>{{ loc.lighting_condition }}</td>
                            <td>{{ loc.temperature }}</td>
                            <td>{{ loc.humidity }}</td>
                            <td>{{ loc.description }}</td>
                            <td>
                                <a href="/locations/{{loc.id}}/edit">Standort bearbeiten</a>
                                <a href="/api/locations/{{loc.id}}">Standort löschen</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}

                </div>
            </div>
        </div>




</body>


</html>