<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"></link> <!-- from flask import url_for -->
    <title>Start</title>
</head>

<body>

    <!-- Header Bereich -->
        <header class="header_Leiste">

            <!-- Content -->
            <div>
                <h1>Care for Plants</h1>
            </div>

            <!-- Navigation -->
            <nav class="nav_Leiste">

                <ul>
                    <li><a href="/">Menü</a></li>
                </ul>
                
            </nav>

        </header>

                    <!-- Content Bereich -->
                    <table>
                        <tr>
                            <th>1</th>
                            <th>2</th>
                            <th>2</th>
                        </tr>
                        <!-- {% for standort in standorten %} -->
                        <tr>
                            <td><!--{{ standort.1 }}--></td>
                            <td><!--{{ standort.2 }}--></td>
                            <td>
                                <!-- <a href="/delete/{{standort.id}}">Löschen</a>-->
                                <br>
                                <!-- <a href="/update/{{standort.id}}">Update</a>-->
                            </td>
                        </tr>
                        <!-- {% endfor %}-->
                    </table>




</body>


</html>