<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"></link> <!-- from flask import url_for -->
    <title>Start</title>
</head>

<body>

    <!-- Header Bereich -->
        <header class="header_Leiste">

            <!-- Content -->
            <div>
                <h1>Care for Plants</h1>
                <h2>Standorte</h2>
            </div>

            <!-- Navigation -->
            <nav class="nav_Leiste">

                <ul>
                    <li><a href="/">Menü</a></li>
                </ul>
                
            </nav>

        </header>

        <!-- Content Bereich -->
        <div class="continer">
            <div class="row">
                <!-- Tabelle mit Pflanzen -->
                <div class="col-6">
                    {% if locations|length < 1 %}
                        <h4 style="text-align: center">Es gibt noch keine Standorte</h4>
                    {% else %}
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Lichtverhältnisse</th>
                            <th>Temperatur</th>
                            <th>Luftfeuchtigkeit</th>
                            <th>Beschreibung</th>
                            <th>Änderungen</th>
                        </tr>
                        {% for loc in locations %}
                        <tr>
                            <td>{{ loc.name }}</td>
                            <td>{{ loc.lighting_condition }}</td>
                            <td>{{ loc.temperature }}</td>
                            <td>{{ loc.humidity }}</td>
                            <td>{{ loc.description }}</td>
                            <td>
                                
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}

                </div>
            </div>
        </div>




</body>


</html>